<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Basic Component" >
      <h5>Cadastro Aluno</h5>
      <hr />
       <form action="">
          <div class="form-group">
            <label for="exampleDataList" class="form-label">Nome</label>
            <input class="form-control" list="datalistOptions" id="nome" placeholder="Digite o nome" maxlength="60"/>
          </div>
          <div class="form-group">
            <label for="exampleDataList" class="form-label">Cpf</label>
            <input class="form-control" list="datalistOptions" id="cpf" placeholder="Digite o cpf" maxlength="14"/>
          </div>
          <div class="form-group">
            <label for="exampleDataList" class="form-label">Telefone</label>
            <input class="form-control" type="tel" list="datalistOptions" id="cpf" placeholder="Digite o número..." />
          </div>
        </form>
      
    </app-card>
  </div>
</div>
