<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Basic Component" >
      <h5>Cadastro Disciplina</h5>
      <hr />
        <form #disciplinaForm="ngForm" fxLayout="column" fxLayoutAlign="start stretch"
                      (ngSubmit)="enviar()">
            <div class="form-group" *ngIf="disciplina.id!=null">
              <label for="exampleDataList" class="form-label">Disciplina {{disciplina.id}}</label>
              <input class="form-control" [(ngModel)]="disciplina.id" readonly list="datalistOptions" id="disciplina" name="disciplina" placeholder="Digite o nome" maxlength="60"/>
            </div>
            <div class="form-group">
              <label for="exampleDataList" class="form-label">Nome</label>
            <input class="form-control" [(ngModel)]="disciplina.nome" list="datalistOptions" id="nome" name="nome" placeholder="Digite o nome" maxlength="60"/>            
            </div>
            <div class="form-group">
              <label for="exampleDataList" class="form-label">Disciplina</label>
              <input class="form-control" [(ngModel)]="disciplina.creditos" list="datalistOptions" id="descricao" name="descricao" type="number"  placeholder="Digite a descrição da disciplina"/>
            </div>            
            <div *ngIf="method!='excluir'; else alternativa">
              <button class="btn btn-primary" type="submit">Enviar</button>              
            </div>
            <ng-template #alternativa>
              <button class="btn btn-danger" type="button" (click)="excluir()">Excluir</button>
            </ng-template>
            <button class="btn btn-secondary" type="button" (click)="voltar()">Voltar</button>          
          </form>
    </app-card>

  </div>
</div>
