<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Basic Component" >
      <h5>Cadastro professor</h5>
      <hr />
        <form #professorForm="ngForm" fxLayout="column" fxLayoutAlign="start stretch"
                      (ngSubmit)="enviar()">
            <div class="form-group" *ngIf="professor.id!=null">
              <label for="exampleDataList" class="form-label">Id </label>
              <input class="form-control" [(ngModel)]="professor.id" readonly list="datalistOptions" />
            </div>
            <div class="form-group">
              <label for="exampleDataList" class="form-label">Nome</label>
            <input class="form-control" [(ngModel)]="professor.nome" list="datalistOptions" id="nome" name="nome" placeholder="Digite o nome" maxlength="60"/>            
            </div>
            <div class="form-group">
              <label for="exampleDataList" class="form-label">Cpf</label>
              <input class="form-control" [(ngModel)]="professor.cpf" list="datalistOptions" id="cpf" name="cpf" placeholder="Digite o cpf" maxlength="14"/>
            </div>
            <div class="form-group">
              <label for="exampleDataList" class="form-label">Telefone</label>
              <input class="form-control" [(ngModel)]="professor.fone" type="tel" list="datalistOptions" id="fone" name="fone" placeholder="Digite o número..." />
            </div>
            <div *ngIf="method!='excluir'; else alternativa">
              <button class="btn btn-primary" type="submit">Enviar</button>              
            </div>
            <ng-template #alternativa>
              <button class="btn btn-danger" type="button" (click)="excluir()">Excluir</button>
            </ng-template>
            <button class="btn btn-secondary" type="button" (click)="voltar()">Voltar</button>          
          </form>
    </app-card>

  </div>
</div>
