<div class="row" >
  @for (sale of sales; track sale) {
    <div class="{{ sale.design }} col-xl-4">
      <app-card [hidHeader]="true">
        <h6 class="mb-4">{{ sale.title }}</h6>
        <div class="row d-flex align-items-center">
          <div class="col-9">
            <h3 class="f-w-300 d-flex align-items-center m-b-0">
              <i class="feather {{ sale.icon }} f-30 m-r-10"></i>
              {{ sale.amount }}
            </h3>
          </div>
          <div class="col-3 text-end">
            <p class="m-b-0">{{ sale.percentage }}</p>
          </div>
        </div>
        <div class="m-t-30">
          <ngb-progressbar type="progress-bar {{ sale.progress_bg }}" height="7px" [value]="sale.progress"></ngb-progressbar>
        </div>
      </app-card>
    </div>
  }  
  
